@model HotelBookingApp.WEB.Models.BookingViewModel

@{
    ViewBag.Title = "Make booking";
}

<h2>Make booking</h2>

@if (ViewBag.Error != null)
{
    <div class="div-for-alert">
        <span class="alert alert-danger">@ViewBag.Error</span>
    </div>
}

@using (Ajax.BeginForm("MakeBooking", new AjaxOptions { UpdateTargetId = "results" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal well">
        <div class="form-group">
            @Html.LabelFor(model => model.ApartmentClassId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="ApartmentClass">
                    <option selected>Luxury</option>
                    <option>Comfort</option>
                    <option>Economy</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfArrival, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfArrival, new { htmlAttributes = new { @class = "form-control", @min = ViewBag.Date } })
                <div class="validation-block">
                    @Html.ValidationMessageFor(model => model.DateOfArrival, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DaysOfArrival, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DaysOfArrival, new { htmlAttributes = new { @class = "form-control" } })
                <div class="validation-block">
                    @Html.ValidationMessageFor(model => model.DaysOfArrival, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfPlaces, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfPlaces, new { htmlAttributes = new { @class = "form-control" } })
                <div class="validation-block">
                    @Html.ValidationMessageFor(model => model.NumberOfPlaces, "", new { @class = "label label-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Find" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div id="results">

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")